# Build folder and log file
build/
build.log
### cosasa para los alumnos 

## hola

este proyecto es para aprendersobre el depositorio giy hub y como se usa 
esto esta echo por Armando Perez Rojas ESIT
